* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(60, 60, 60);
}

.logo-container {
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}

.logo {
    font-size: 46px;
}

.profile-container {
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 0 20px 0;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;
    text-align: center;
}

.avatar-border {
    width: 158px;
    height: 158px;
    border: 5px solid rgb(180, 180, 180);
    border-radius: 50%;
    /* あってもなくてもいい */
    background-color: rgb(180, 180, 180);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
}

.avatar {
    width: 155px;
    height: 155px;
    background-image: url(/images/avatar/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.avatar-change {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: -10px;
    padding: 0px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-image: url(/images/icons/refresh.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.nickname input {
    height: 46px;
    background-color: rgba(180, 180, 180, 0.3);
    border: 2px solid rgba(180, 180, 180, 0.7);
    border-radius: 4px;
    font-size: 16px;
    padding: 0px 10px;
}

.options {
    width: 450px;
    margin: auto;
    text-align: center;
    display: flex;
}

.options button {
    width: 195px;
    height: 46px;
    margin: auto;
    border: 1px solid rgba(180, 180, 180);
    box-shadow: 0px 3px 0px 0px rgba(180, 180, 180, 0.7);
    font-size: 19px;
}

.options button a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}